work_group: ${PRIMUS_TEAM:amd}
user_name: ${PRIMUS_USER:root}
exp_name: ${PRIMUS_EXP_NAME:llama3.1_8B-pretrain}
workspace: ${PRIMUS_WORKSPACE:./output}

modules:
  pre_trainer:
    framework: megatron
    config: pre_trainer.yaml

    # model to run
    model: llama3.1_8B.yaml
    overrides:
      # log
      wandb_project: "Primus_DeepSeek_Pretrain"
      # disable_wandb: false
      # disable_tensorboard: false
      stderr_sink_level: DEBUG

      log_avg_skip_iterations: 2
      log_avg_reset_interval: 50

      train_iters: 4
      micro_batch_size: 1
      global_batch_size: 1

      apply_rope_fusion: false
      transformer_impl: local
      no_persist_layer_norm: true
      num_layers: 1
      disable_compile_dependencies: true

      hidden_size: 512
      ffn_hidden_size: 1792       # ~3.5x hidden_size
      num_attention_heads: 8       # 512 / 8 = 64 head_dim
      num_query_groups: 4          # must be divisible by num_attention_heads

      seq_length: 128
      max_position_embeddings: 128

      lr: 1.0e-5
      min_lr: 0.0
      lr_warmup_iters: 2
      lr_decay_iters: null
      lr_decay_style: cosine
      weight_decay: 0.1
      adam_beta1: 0.9
      adam_beta2: 0.95
      eod_mask_loss: true
      init_method_std: 0.008
      norm_epsilon: 1.0e-6

      # parallel
      tensor_model_parallel_size: 1
      pipeline_model_parallel_size: 1
      expert_model_parallel_size: 1
      overlap_grad_reduce: false
      overlap_param_gather: false
      gradient_accumulation_fusion: false
      use_distributed_optimizer: false

      # data
      mock_data: true
      train_data_path: null
      valid_data_path: null
      test_data_path: null

      # ckpt
      finetune: false
      auto_continue_train: false
      load: null
      no_load_optim: null
      no_load_rng: null
      save: null
      save_interval: 20000
      no_save_optim: null
      no_save_rng: null
      disable_last_saving: true
      ckpt_format: torch

      # Cross entropy flags
      # cross_entropy_fusion_impl: "te"
      # cross_entropy_loss_fusion: true
