**

!LICENSE
!README.md
!pyproject.toml
!requirements.txt
!requirements-torchft.txt
!primus_cli.py

!primus/
!primus/**
!runner/
!runner/**

!examples/
!examples/mlperf/
!examples/mlperf/gpt_oss_20b/
!examples/mlperf/gpt_oss_20b/**

!third_party/
!third_party/Megatron-LM/
!third_party/Megatron-LM/**

**/.git
**/__pycache__
**/*.pyc
output/
logs/
