__pycache__
*.so
build
dist/
.coverage_*
*.egg-info
*~
logs
.vscode
local/
.gitmodules
output
experiment
/data/*
!primus/backends/diffusion/data/
!primus/backends/diffusion/data/**
primus/backends/diffusion/data/**/__pycache__/
primus/backends/diffusion/data/**/*.pyc
pp_simulation_result
