loguru
wandb
expecttest
pre-commit
nltk
matplotlib
markdown2
weasyprint
tyro
torchao
blobfile
torchdata>=0.8.0
datasets>=3.6.0
mlflow==3.4.0
pyrsmi
nvidia-modelopt==0.39.0
onnx==1.20.0.rc1
nvidia_resiliency_ext==0.4.1
