loguru
wandb
expecttest
pre-commit
nltk
matplotlib
markdown2
weasyprint
tyro
torchao
blobfile
torchdata>=0.8.0
datasets>=3.6.0
mlflow==3.11.1
pyrsmi
plotext
hip-python
git+https://github.com/mlcommons/logging.git@6.0.0-rc5
megatron-energon==7.3.2
webdataset==1.0.2
tqdm==4.67.3
pyarrow==21.0.0
