extends:
  - qwen2.5_base.yaml

tokenizer_type: DeepSeekV2Tokenizer
tokenizer_model: deepseek-ai/DeepSeek-V2

# model
num_layers: 64
hidden_size: 4096
# ffn_hidden_size: 6144
num_attention_heads: 32

# moe
moe_layer_freq: 1
num_experts: 256
moe_router_topk: 4
moe_ffn_hidden_size: 2048
# moe_shared_expert_intermediate_size: 2048 # num_shared_experts * moe_ffn_hidden_size

# gqa
group_query_attention: true
num_query_groups: 8
qk_layernorm: true
kv_channels: 128
