einops
datasets
webdataset
huggingface_hub
loguru
safetensors
sentencepiece
numpy
pillow
packaging
requests
decord
imageio[ffmpeg]
wandb
pydantic
transformers==4.50.0
git+https://github.com/mlcommons/logging.git@6.0.0-rc5
git+https://github.com/NVIDIA/mlperf-common.git
