work_group: ${PRIMUS_TEAM:amd}
user_name: ${PRIMUS_USER:root}
exp_name: ${PRIMUS_EXP_NAME:llama3_8B-pretrain}
workspace: ./output

modules:
  pre_trainer:
    framework: torchtitan
    config: pre_trainer.yaml

    # model to run - 使用 debugmodel 进行快速测试
    #model: llama3_debug.yaml
    model: llama3.1_8B.yaml
    overrides:
      sink_level: null
      file_sink_level: DEBUG
      stderr_sink_level: INFO

      metrics:
        log_freq: 1
        enable_wandb: false

      lr_scheduler:
        # lr scheduler warm up
        warmup_steps: 1
        
      training:
        local_batch_size: 1
        seq_len: 128  # 减小序列长度加速测试
        mock_data: true
        steps: 2

      model:
        n_layers: 1

      compile:
        enable: false
      
      activation_checkpoint:
        mode: "none"  # ["none", "selective", "full"]
        selective_ac_option: "op"  # "int" = ac every positive int layer or 'op', ac based on ops policy

      primus_turbo:
        enable_primus_turbo: false
        enable_attention_float8: false
