work_group: ${PRIMUS_TEAM:amd}
user_name: ${PRIMUS_USER:root}
exp_name: ${PRIMUS_EXP_NAME:llama3_70B-pretrain}
workspace: ./output

modules:
  pre_trainer:
    framework: torchtitan
    config: pre_trainer.yaml

    # model to run
    model: llama3.1_70B-fp8.yaml
    overrides:
      sink_level: null
      file_sink_level: DEBUG
      stderr_sink_level: INFO

      lr_scheduler:
        # lr scheduler warm up
        warmup_steps: 10

      profiling:
        enable_profiling: true
        save_traces_folder: "profile_trace"
        profile_freq: 6

      metrics:
        log_freq: 1

      training:
        local_batch_size: 6
        seq_len: 8192
        mock_data: false
        steps: 10

      optimizer:
        lr: 1.5e-4

      activation_checkpoint:
        mode: full

      quantize:
        linear:
          float8:
            enable_fsdp_float8_all_gather: true
            precompute_float8_dynamic_scale_for_fsdp: true
            filter_fqns: ["output"]

      primus_turbo:
        enable_primus_turbo : true
        enable_attention_float8 : false
